img {
    width: 200px; 
    height: auto; 
    object-fit: cover; 
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    list-style-type: none;
    margin: .25em;
    background-color: #000000; 
    border: 3px solid #ffffff; 
    border-radius: 20px; 
    font-size: 5em;
    color: rgb(255, 255, 255);
}

.address ul li {
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4983ff;
}

ul li {
    margin-bottom: 5px; 
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: rgb(225, 182, 211);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    grid-column: 1 / -1;
    color: white;
    padding: 2em;
    border: 3px solid #3f3f3f; 
    border-radius: 3px; 
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    grid-column: 1 / -1;
    background-color: #333;
    color: rgb(0, 0, 0);
    background-color: rgb(225, 182, 211);
    background-size: cover;
    background-repeat:no-repeat;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 3em;
    padding: 3em 1.5em 3em 1.5em;
    background-color:#000000;
}

.bio ul li:hover {
    color: yellow;
    text-decoration: underline;
}

nav {
    border-radius: 1em;
    font-size: 2em;
    line-height: 1.75em;
    color:  #4983ff;
}

nav.bio {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    width: auto;
    height: auto;
}

.bio ul li {
    line-height: 3;
}

.author-info p {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

table caption::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px; 
    background-color: #4983ff;
    margin-bottom: 1em; 
}

table caption {
    font-size: 1.5em; 
    font-weight: bold; 
    color: crimson; 
    text-align: center;
    padding-bottom: 1em; 
}


table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.staff {
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    background-color: #4983ff;
    border: 1px solid #c5e3ff;
}

h1[data-title="Aaron's Company"] {
    color: #ffffff;
    font-weight: bold;
}

nav.bio ul li:not(:nth-child(1)) a {
    color: #22301e;
    font-weight: bold;
}

.author-info {
    min-height: 400px;   /* or height: 300px for testing */
    background-image: url("../Images/kaitlyn.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2em;
    background-position: left;
    background-color:#ffffff;
    text-align: center;
    padding: 3em 3em 3em 3em; 
    font-size: 1.25em;
}

.author-info h2 {
    color: red;
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.author-info p {
    font-size: 1.25em;
    margin: 0;
    line-height: 2.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bio-link {
    color: rgb(31, 52, 243);
    text-decoration: none;
    font-size: 1.5em;
}

#bio-link:hover {
    color: rgb(226, 255, 62);
    text-decoration: underline;
}

#bio-link:visited {
    color: rgb(148, 104, 253);
}

.staff ul li {
    font-size: 1.5em;
}

.staff-list {
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.staff a:hover {
    color: yellow;
}

caption {
    background-color: white;
}

@media only screen and (max-width: 500px) {
    .author-info {
        padding: 0 0 2em 2em; 
    }

    .author-info {
        background-image: none;
    }
}

@media screen and (max-width: 500px) {
   
    main {
        grid-template-columns: 1fr; 
    }
}


